@import "~bootstrap/dist/css/bootstrap";

body { 
  // color: white;
  // background: url("../assets/img/background.jpg") no-repeat center center fixed; 
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  // overflow: hidden;
  height: 100%;
  background-color: white;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.info {
  max-width: 250px;
  color: black;
}

#logo {
  height: 192px;
  width: 340px;
}

.top-margin {
  margin-top: 20px;
  text-align: center;
}

td {
  min-width: 100px;
}

.hide {
  display: none;
}

select {
  max-width: 200px;
  display: inline-block !important;
}

.test {
  
}